
.heading {
  margin-block: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button:not(:last-child) {
  margin-right: 5px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

tr {
  height: 40px;
  font-size: 12.5px;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 1.75rem;
  width: 1.75rem;
}

::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  text-shadow: 0 0 black;
}
